{% extends 'base.html' %}
{% load static %}

{% block topmenu%}
<!-- This is an example component -->
<div class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
  <div class="flex flex-col gap-4 w-max">
    <div class="flex divide-x divide-blue-600 row">
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-3 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-r-none border-r-0"
        type="button">
        <a href="{% url 'home-budgets' instance.project_id %}"><img width="30px" src="{% static "images/skip-backward.svg" %}" alt="home-compositions" title="home compositions"></a>
      </button>
      {% comment %} <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-3 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-r-none border-r-0 rounded-l-none"
        type="button">
        <a href="{% url 'home' %}"><img width="30px" src="{% static "images/house.svg" %}" alt="home" title="home"></a>
      </button> {% endcomment %}
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-3 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-l-none"
        type="button">
        <a href="{% url 'home' %}"><img width="30px" src="{% static "images/house.svg" %}" alt="home" title="Home"></a>
      </button>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
    <div class="w-full">
      <form class="w-full" role="form" method="post" id="add-form">
        {% csrf_token %}

        
                  <div class="container mx-auto">
                    <div>
                        <!-- Inputbox for dynamic search -->
                        <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add new components</label>
                        <div class="flex mb-3">
                            <input  placeholder="Type here" type="text" id="small-input" class="flex-1 p-2 h-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <!-- Dropdown (Select) -->
                        <div class="relative flex mb-3">
                            <select id="select-component" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="" selected disabled>Select component...</option>
                            </select>
                            <button  id="add-input-button" type="button" class="ml-2 h-8 text-sm px-4 py-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><img src="{% static 'images/plus.svg' %}" alt="Dropdown Arrow" class="w-4 h-4 text-gray-700 dark:text-white"></button>
                        </div>
                    </div>

                    <span id="putselecthere"></span>

                    {% for form in forms %}
                      <div>
                        {{ form.id.label_tag }} {{ form.id }}
                        {{ form.category.label_tag }} {{ form.category }}
                      </div>
                    {% endfor %}

                    <div id="component-container">
                      {% regroup forms by category as grouped_forms %}
                      
                      {% for group in grouped_forms %}
                        <h3 class="text-lg font-bold mb-2">{{ group.grouper }}</h3>  <!-- Categoria -->
                        
                        <div class="grid grid-cols-8 gap-4 mb-4 text-sm font-medium">
                          <div>ID</div>
                          <div>Type</div>
                          <div class="col-span-3">Composition</div>
                          <div>Quantity</div>
                          <div>User</div>
                          <div>Tools</div>
                        </div>
                    
                        {% for form2 in group.list %}
                          <div class="grid grid-cols-8 gap-4 mb-4 text-sm items-center" id="row-{{ forloop.parentloop.counter0|add:100000 }}-{{ forloop.counter0 }}">
                            <div>{{ form2.id }}</div>
                            <div>{{ form2.composition.get_dbtype_display }}/{{ form2.composition.code }}</div>
                            <div class="col-span-3">{{ form2.composition }}</div>
                            <div>{{ form2.quantity }}</div>
                            <div>{{ form2.user }}</div>
                            <div>
                              <button type="button" class="ml-2 h-8 text-sm px-2 py-2 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" onclick="removeRow('{{ forloop.parentloop.counter0|add:100000 }}-{{ forloop.counter0 }}')">Remover</button>
                            </div>
                          </div>
                        {% endfor %}
                      {% endfor %}
                    </div>
                    
                  </div>

        <input id="send-form" type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">

      </form>
    </div> <!-- FLUID -->

    <script src="{% static 'js/active-select-budgets.js' %}"></script>
    <script src="{% static 'js/search-composition.js' %}"></script>
    <script src="{% static 'js/fill-select-budgets.js' %}"></script>
    <script src="{% static 'js/active-select-budgets-onload.js' %}"></script>
    <script src="{% static 'js/listen-select-change.js' %}"></script>

    <script>
      function removeRow(rowId) {
          var row = document.getElementById('row-' + rowId);
          row.parentNode.removeChild(row);
      }
    </script>

    <script>
      document.addEventListener('submit', function(event) {
        var form = event.target;
        var inputs = form.querySelectorAll('input, select');

        for (var i = 0; i < inputs.length; i++) {
          inputs[i].removeAttribute('disabled');
          inputs[i].removeAttribute('readonly');
        }
      });
    </script>

{% endblock %}