asgiref==3.7.2
Django==5.0.3
django-filter==23.5
djangorestframework==3.14.0
Markdown==3.5.1
pytz==2023.3.post1
sqlparse==0.4.4
python-decouple==3.8
dj-database-url==2.1.0
dj-static==0.0.6
static3==0.7.0
django-extensions==3.2.3
django-test-without-migrations==0.6
typing_extensions==4.9.0
django_htmx==1.17.3