{% extends 'base.html' %}
{% load static %}
<!-- projects/new.html -->

{% block topmenu%}
<!-- This is an example component -->
<div class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
  <div class="flex flex-col gap-4 w-max">
    <div class="flex divide-x divide-blue-600 row">
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-r-none border-r-0"
        type="button">
        <a href="{% url 'home-projects' %}"><img width="30px" src="{% static "images/skip-backward.svg" %}" alt="home-categories" title="home categories"></a>
      </button>
      <!--
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-r-none border-r-0 rounded-l-none"
        type="button">
        <a href="{% url 'home' %}"><img width="30px" src="{% static "images/house.svg" %}" alt="home" title="home"></a>
      </button>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-l-none"
        type="button">
        <a href="{% url 'new-categories' %}"><img width="30px" src="{% static "images/file-earmark-plus.svg" %}" alt="new" title="Create a new project"></a>
      </button> 
    -->
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-l-none"
        type="button">
        <a href="{% url 'home' %}"><img width="30px" src="{% static "images/house.svg" %}" alt="home" title="home"></a>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Select Box</title>
    <!-- <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script> -->

    <!-- Script Ajax para adicionar selects -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/project.js' %}"></script>
    -->

    {{ project_form.id }}
    <h1 class="mt-2">{{ project_form.initial.name }}</h1> <!-- NAO LEMBRO O Q E ISTO-->
    
    <form method="post" id="project_form">
        {% csrf_token %}

        <div class="w-full mt-6" x-data="{ openTab: 1 }">
            <div>
                <ul class="flex border-b" id="myTab">
                    <li class="-mb-px mr-1" @click="openTab = 1">
                        <a :class="openTab === 1 ? 'border-l border-t border-r rounded-t text-blue-700 font-semibold' : 'text-blue-500 hover:text-blue-800'" class="bg-white inline-block py-2 px-4 font-semibold" href="#">Project profile</a>
                    </li>
                    <li class="mr-1" @click="openTab = 2">
                        <a :class="openTab === 2 ? 'border-l border-t border-r rounded-t text-blue-700 font-semibold' : 'text-blue-500 hover:text-blue-800'" class="bg-white inline-block py-2 px-4 font-semibold" href="#">Buildings</a>
                    </li>
                    <li class="mr-1" @click="openTab = 3">
                        <a :class="openTab === 3 ? 'border-l border-t border-r rounded-t text-blue-700 font-semibold' : 'text-blue-500 hover:text-blue-800'" class="bg-white inline-block py-2 px-4 font-semibold" href="#">Members</a>
                    </li>
                    <li class="mr-1" @click="openTab = 4">
                        <a :class="openTab === 4 ? 'border-l border-t border-r rounded-t text-blue-700 font-semibold' : 'text-blue-500 hover:text-blue-800'" class="bg-white inline-block py-2 px-4 font-semibold" href="#">Stakeholders</a>
                    </li>
                </ul>
            </div>
            <div class="bg-white p-6">
                <div id="tab1" class="" x-show="openTab === 1">
                    {{ project_form.as_p }}
                </div>

                <div id="tab2" class="" x-show="openTab === 2">
                    {% if buildings_formset %}
                        {{ buildings_formset.management_form}}
                            {% for form in buildings_formset %}
                            <div id="id-building-selector" class="formset-container {{buildings_formset.prefix}}">
                                {% if form.initial %}
                                    {{ form }}<button id="bd-remove-button-{{forloop.counter}}" class="btn btn-danger remove-formset" type="button" hidden>Remover</button>
                                {% endif %}
                            </div>
                            {% endfor %}
                    {% endif %}
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  id="add-formset1" type="button">Add building</button>
                </div>

                <div id="tab3" class="" x-show="openTab === 3">
                    {% if members_formset %}
                        {{ members_formset.management_form}}
                            {% for form in members_formset %}
                                <div id="id-member-selector" class="formset-container {{members_formset.prefix}}">
                                    {% if form.initial %}
                                        {{ form }}
                                        <button id="mb-remove-button-{{forloop.counter}}" class="btn btn-danger remove-formset" type="button" hidden>Remover</button>
                                    {% endif %}
                                </div>
                            {% endfor %}
                    {% endif %}
                    <p><div id="select-container-member"></div></p>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  id="add-formset2" type="button">Add member</button>
                </div>

                <div id="tab4" class="" x-show="openTab === 4">

                    {% if stakeholders_formset %}
                    {{ stakeholders_formset.management_form}}
                        {% for form in stakeholders_formset %}
                        <div id="id-stakeholder-selector" class="formset-container {{stakeholders_formset.prefix}}">
                            {% if form.initial %}
                                {{ form }}
                                <button id="st-remove-button-{{forloop.counter}}" class="btn btn-danger remove-formset" type="button" hidden>Remover</button>
                            {% endif %}    
                        </div>
                        {% endfor %}
                    {% endif %}
                    <p><div id="select-container-stakeholder"></div></p>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="add-formset3" type="button">Add stakeholder</button>

                </div>
            </div>
        </div>

        <input id="send-form" type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
    <!--
    <script>
        document.getElementById("id_site").disabled = true;
    </script>
    -->

    <!-- If submit button was clicked , enable select option before send -->
    <script>
        // Captura o botão de envio
        var sendButton = document.getElementById('send-form');
        
        // Adiciona um evento de clique ao botão de envio
        sendButton.addEventListener('click', function() {
            // Habilita o elemento select
            document.getElementById('id_site').disabled = false;
            // Chame a função para habilitar todos os selects desabilitados
            habilitarSelects();
        });
    </script>

    
    <!-- Script Ajax para adicionar selects -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <!-- Add new elements dynamically -->
    <!-- <script src="{% static 'js/project.js' %}"></script> -->

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/site-js.js' %}"></script>
    <script src="{% static 'js/enable-select.js' %}"></script>

{% endblock %}
