{% extends 'base.html' %}
{% load static %}
<!-- projects/new.html -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->

{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Select Box</title>
    <!-- <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script> -->

    <span><a href="{% url 'home-projects' %}">[PROJECTS]</a></span>
    <h1>New project FORM</h1>


    <form method="post" id="project-form">
        {% csrf_token %}
        {{ project_form.as_p }}

        <div class="m-4">
          <ul class="nav nav-tabs" id="myTab">
              <li class="nav-item">
                  <a href="#tab1" class="nav-link active" data-bs-toggle="tab">Buildings</a>
              </li>
              <li class="nav-item">
                  <a href="#tab2" class="nav-link" data-bs-toggle="tab">Members</a>
              </li>
              <li class="nav-item">
                  <a href="#tab3" class="nav-link" data-bs-toggle="tab">stakeholders</a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane fade show active" id="tab1">
                  <h4 class="mt-2">Home tab content</h4>
                  <p>
                      <!-- Contêiner para adicionar selects dinamicamente -->
                      <!-- Adiciona novos prédios -->
                      <p><div id="select-container"></div></p>
                      <!-- Botão para adicionar novo select -->
                      <button class="btn btn-primary" type="button" id="add-select" disabled>Add Building</button>
                  </p>
              </div>
              <div class="tab-pane fade" id="tab2">
                  <h4 class="mt-2">Profile tab content</h4>
                  <p>
                    <!-- Contêiner para adicionar selects dinamicamente -->
                    <!-- Adiciona novos membros -->
                    <p><div id="select-container-member"></div></p>
                    <!-- Botão para adicionar novo select -->
                    <button class="btn btn-primary" type="button" id="add-select-member">Add member</button>
                  </p>
              </div>
              <div class="tab-pane fade" id="tab3">
                  <h4 class="mt-2">Messages tab content</h4>
                  <p>
                    <!-- Contêiner para adicionar selects dinamicamente -->
                    <!-- Adiciona novos stakeholders -->
                    <p><div id="select-container-stakeholder"></div></p>
                    <!-- Botão para adicionar novo select -->
                    <button class="btn btn-primary" type="button" id="add-select-stakeholder">Add stakeholder</button>
                  </p>
              </div>
          </div>
      </div>

        <input id="send-form" type="submit" value="Submit" class="btn btn-primary" disabled>
    </form>

    <!-- Script Ajax para adicionar selects -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/project.js' %}"></script>

{% endblock %}
