{% extends 'base.html' %}
{% load static %}

{% block content %}
    <span><a href="{% url 'home-documents' numproject %}">[DOCUMENTS]</a></span>
    <H1>Document details</H1>
    <p>{{ document.version_number }}</p>
    <p>{{ document.summary }}</p>
    <p>{{ document.description }}</p>
    <p>{{ document.created_at }}</p>
    <p>{{ document.updated_at }}</p>

    {% if versions %}
        <a href=""><button disabled class="btn btn-outline-warning mr-3">DELETE THIS DOCUMENT</button></a>
    {% else %}
        <a href="{% url 'delete-document' document.id %}"><button class="btn btn-outline-danger mr-3">DELETE THIS DOCUMENT</button></a>
    {% endif %}

    <h3>Versions</h3>

    <a href="{% url 'version-document' document.id %}"><button class="btn btn-outline-primary mr-3">Insert new version</button></a>

    <br>
    {% for version in versions %}
    <div>
        {{ version.version_number }}
        {{ version.upload_url.name }}
        {{ version.upload_at }}
        <button type="button" class="btn-sm btn-secondary"><a href="{% url 'download-version-file' version.id %}"><img src="{% static "images/download.svg" %}" alt="download" title="Download"></a></button>
    </div>
    {% endfor %}

{% endblock %}