{% extends 'base.html' %}
{% block content %}

<span><a href="{% url 'home-documents'  numproject %}">[DOCUMENTS]</a></span>
<h1>New DOCUMENT FORM</h1>
<form id="DocumentForm" action="." method="post">
    {% csrf_token %}

    <input hidden type="text" id="numproject" name="numproject" value="{{numproject}}">
    <p>
        <label for="{{ form.summary.id_for_label }}"> {{ form.summary.label }}</label>
        {{ form.summary.errors}}
        {{ form.summary }}
    </p>
    <p>
        <label for="{{ form.description.id_for_label }}"> {{ form.description.label }}</label>
        {{ form.description.errors}}
        {{ form.description }}
    </p>
    <p>
        <label for="{{ form.created_at.id_for_label }}"> {{ form.created_at.label }}</label>
        {{ form.created_at.errors}}
        {{ form.created_at }}
    </p>
    <p>
        <label for="{{ form.updated_at.id_for_label }}"> {{ form.updated_at.label }}</label>
        {{ form.updated_at.errors}}
        {{ form.updated_at }}
    </p>
    <p>
        <label for="{{ form.doctype.id_for_label }}"> {{ form.doctype.label }}</label>
        {{ form.doctype.errors}}
        {{ form.doctype }}
    </p>
    <p>
        <label for="{{ form.building.id_for_label }}"> {{ form.building.label }}</label>
        {{ form.building.errors}}
        {{ form.building }}
    </p>
    <p>
        <label for="{{ form.categories.id_for_label }}"> {{ form.categories.label }}</label>
        {{ form.categories.errors}}
        {{ form.categories }}
    </p>
    <input type="submit" value="Send!"/>
</form>
{% endblock %}